# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build / packaging
build/
dist/
*.egg-info/

# Documentation
site/
build/
.docusaurus/
node_modules/

# Logs
*.log

# Env files
.env

# IDE
.vscode/
.idea/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
